body {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#banner {
    height: 100%;
    padding: 35px 50px;
    background: #0168c1;
    color: #fff;
    font-family: tahoma, sans-serif;
}

#button {
    display: inline-block;
    color: #fff;
    background: #e84c3d;
    text-decoration: none;
    padding: 17px 28px;
    font-size: 21px;
    font-family: arial, sans-serif;
}

    #button:hover,
    #button:focus {
        background: #e23d2d;
    }

#content {
    letter-spacing: 0.04em;
    padding-left: 47px;
}

#c1 {
    display: block;
    font-size: 16px;
    margin-bottom: 40px;
}

#c2 {
    display: block;
    font-size: 42px;
    font-family: arial, sans-serif;
    line-height: 1;
    margin-bottom: 8px;
    font-weight: bolder;
}

#c3 {
    display: block;
    font-size: 26px;
    margin-bottom: 50px;
}

@media (max-width: 1100px) {
    #banner {
        padding-left: 4%;
        padding-right: 4%;
    }

    #c2 {
        font-size: 30px;
    }

    #c3 {
        font-size: 23px;
    }

    #button {
        padding: 14px 23px;
        font-size: 19px;
    }
}